<!DOCTYPE html>
<html lang="pt-BR">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Turismo Nordeste</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>

<body>

	<!--inicio_navbar -->
	<nav
		class="navbar col-12 m-auto position-fixed navbar-expand-lg navbar-dark bg-dark"
		style="z-index: 999;">
		<div class="container-fluid col-11 m-auto">
			<a class="navbar-brand" th:href="@{/}"><img src="img/l2.png"></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/}">Home</a></li>
					<li class="nav-item "><a class="nav-link"
						href="/#destinos">Destino</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/Promocao}">Promoções</a>
					</li>
					<li class="nav-item"><a class="nav-link" th:href="@{/Contato}">Contato</a>

					</li>


				</ul>

				<div class="btn-group">
					<button type="button" class="btn btn-secondary dropdown-toggle"
						data-bs-toggle="dropdown" aria-expanded="false">CADASTRO
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" th:href="@{/Cliente}">Cadastro
								Cliente</a></li>
						<li><a class="dropdown-item" th:href="@{/Destino}">Cadastro
								Destino</a></li>
						<li><a class="dropdown-item" th:href="@{/CadPromocao}">Cadastro
								Promoção</a></li>
					</ul>
				</div>

			</div>
	</nav>
	<!--fim_navbar-->

	<!--inicio_card-->
	<div class="container col-8 m-auto" style="padding-top: 5rem;">
		<h2 class="text-center p-2">Cadastro Destino</h2>
		<div class="row">
			<form class="form" method="POST" th:action="@{/cadastrarDestino}">
				<div class="row mb-3">
					<div class="col-md-12 col-sm-12">
						<label for="formGroupExampleInput" class="form-label">Nome
							Destino</label> <input type="text" class="form-control"
							id="" placeholder="Nome Destino"
							aria-label="First name" name="nome" field="*{nome}">
					</div>
					<div class="col-md-12 col-sm-12">
						<label for="" class="form-label">Nome
							Hotel</label> <input type="text" class="form-control"
							id="" placeholder="Nome Hotel" aria-label="Last name" name="nomeHotel" field="*{nomeHotel}" >
					</div>
					<div class="col-md-12 col-sm-12">
						<label for="" class="form-label">Descrição</label>
						<input type="text" class="form-control"
							id="" placeholder="Descrição"
							aria-label="Last name" name="descricao" field="*{descricao}">
					</div>
					<div class="col-md-5">
						<label for="" class="form-label">Quantidade
							Dias</label> <input type="text" class="form-control"
							id="" placeholder="Quantidade Dias"
							aria-label="Last name" name="qtdDias" field="*{qtdDias}">
					</div>
					<div class="col-md-5">
						<label for="" class="form-label">Valor</label>
						<input type="text" class="form-control"
							id="" placeholder="Valor" name="valor"
							aria-label="Last name" field="*{valor}">
					</div>
					<div class="col-md-5">
						<label for="" class="form-label">ID Cliente</label>
						<input type="number" class="form-control"
							id="clientes" placeholder="ID Cliente" name="cliente"
							aria-label="Last name" field="*{cliente}">
					</div>
					<div class="col-md-5">
						<label for="" class="form-label">ID Promoção</label>
						<input type="number" class="form-control"
							id="promocao" placeholder="ID Promoção" name="promocao"
							aria-label="Last name" field="*{promocao}">
					</div>
				</div>


				<div class="text-end mb-5">
					<button type="submit" class="btn btn-success">Cadastrar</button>
				</div>
			</form>
		</div>
	</div>

	<hr>
	<!--inicio_div_contato-->
	<div class="col-11 m-auto">
		<h2 class="text-center">Contato</h2>
		<div class=" m-auto" style="width: 100px">
			<a href="https://api.whatsapp.com/send?phone=5581996799868"
				target="_blank"> <i class="fa-brands fa-whatsapp"
				style="font-size: 100px; color: green"></i>
			</a>
		</div>
	</div>
	<!--fim_div_contato-->







	<!--footer-->
	<footer style="background-color: #333;" class="p-2">
		<div class="text-center">
			<a href="https://recodepro.org.br/" target="_blank">@ 2022
				Copyright: Paulo Roberto de Lima - Aluno Recode - Dev Full Stack </a>
		</div>
	</footer>













	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>